body
{
    background-color: whitesmoke;
    padding:0;
	margin:0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav
{
    background-color: #34495e;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    position: fixed;
    width: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 2;
}

ul
{
    display: flex;
    list-style: none;
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
}
  
ul li
{
    margin-right: 20px;
    margin-top: 15px;
}
  
ul li a
{
    color: white;
    text-decoration: none;
    transition: background-color 0.5s;
    border-radius: 40px;
    padding: 14px 16px;
    font-size: 125%;
}
  
ul li a:hover
{
    color: white;
    background-color: #f39c12;
    transition: background-color 0.5s;
    border-radius: 40px;
    padding: 14px 16px;
    font-size: 125%;
}
  
.checkbtn
{
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
}
  
#check
{
    display: none;
}
  
@media (max-width: 1110px)
{
    .checkbtn
    {
        display: block;
        order: 1;
        margin-right: 20px;
    }
  
    ul
    {
        position: fixed;
        top: 80px;
        right: -100%;
        background-color: #34495e;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
    }
  
    ul li
    {
        margin: 20px 0;
    }
  
    ul li a
    {
        font-size: 20px;
    }
  
    #check:checked ~ ul
    {
        right: 0;
    }
}

label.logo
{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

.menunu_ici
{
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 120px;
    margin-right: 120px;
    height: 100vh;
}

.kart
{
    width: 250px;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 10px black;
    cursor: pointer;
    transition: 0.3s;
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    float: left;
}

.kart:hover 
{
    box-shadow: 0px 0px 20px black;
}

.kart:hover img
{
    transform: scale(1.2);
}

.kart img
{
    width: 250px;
    height: 300px;
    border-radius: 5px;
    transition: 0.3s;
}

.kart .yazi
{
    width: 100%;
    height: 100px;
    background-color: whitesmoke;
    transform: translateY(-60px);
    opacity: 0.8;
    border-radius: 5px;
}

h2
{
    padding-top: 8px;
    text-align: center;
}

.sayfayı_yukarı_cikart
{
    position: fixed;
    right: 25px;
    bottom: 25px;
    background: #34495e;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 10px black;
    border: 0;
    padding-left: 13px;
    font-size: 29px;
    color: white;
}

.sayfayı_yukarı_cikart:hover
{
    box-shadow: 0px 0px 20px black;
    color: #f39c12;
}

.hareketli_resimler
{
    position: absolute;
    height: 100vh;
    margin-top: 190px;
    max-width: 100%;
}