body
{
    background-color: whitesmoke;
    padding:0;
	margin:0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav
{
    background-color: #6c7b8b;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    z-index: 5;
}

ul
{
    display: flex;
    list-style: none;
    position: sticky;
    text-align: center;
    top: 0;
    padding: 0;
    margin: 0;
}
  
ul li
{
    margin-right: 20px;
    margin-top: 15px;
}

a
{
    display: block;
    width: 150px;
}
  
ul li a
{
    text-decoration: none;
    border: 2px whitesmoke solid;
    box-shadow: 0px 0px 10px whitesmoke;
    background-color: #6c7b8b;
    color: white;
    border-radius: 5px;
    padding: 14px 0px;
    transition: 0.5s;
}

ul li a:hover
{
    border: 2px #f39c12 solid;
    box-shadow: 0px 0px 20px #f39c12;
    color: #f39c12;
    transition: 0.5s;
}
  
.checkbtn
{
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
}
  
#check
{
    display: none;
}
  
@media (max-width: 1110px)
{
    .checkbtn
    {
        display: block;
        order: 1;
        margin-right: 20px;
    }
  
    ul
    {
        position: fixed;
        top: 80px;
        right: -100%;
        background-color: #6c7b8b;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
    }
  
    ul li
    {
        margin: 20px 0;
    }
  
    ul li a
    {
        font-size: 20px;
    }
  
    #check:checked ~ ul
    {
        right: 0;
    }
}

label.logo
{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

.menunu_ici
{
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 120px;
    margin-right: 120px;
    height: 100vh;
}

.kart
{
    width: 250px;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 10px black;
    cursor: pointer;
    transition: 0.3s;
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    float: left;
}

.kart:hover 
{
    box-shadow: 0px 0px 20px black;
}

.kart:hover img
{
    transform: scale(1.2);
}

.kart img
{
    width: 250px;
    height: 300px;
    border-radius: 5px;
    transition: 0.3s;
}

.kart .yazi
{
    width: 100%;
    height: 100px;
    background-color: whitesmoke;
    color: #0d0c0cff;
    transform: translateY(-60px);
    opacity: 0.8;
    border-radius: 5px;
    transition: 0.3s;
}

.kart .yazi:hover
{
    color: #f39c12;
    transform: translateY(-100px);
    text-shadow: 2px 2px 10px #f39c12;
    transition: 0.3s;
}

h2
{
    padding-top: 8px;
    text-align: center;
}

h5
{
    padding-top: 9px;
    text-align: center;
}

.sayfayı_yukarı_cikart
{
    position: fixed;
    right: 25px;
    bottom: 25px;
    background: #6c7b8b;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px black;
    transition: 0.3s;
    text-align: center;
    font-size: 29px;
    color: white;
    z-index: 3;
}

.sayfayı_yukarı_cikart:hover
{
    box-shadow: 0px 0px 20px black;
    transition: 0.3s;
    color: #f39c12;
}

.WhatsApp
{
	position:fixed;
	width:60px;
	height:60px;
	bottom:100px;
	right:25px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 0px 0px 10px black;
    transition: 0.3s;
    z-index: 3;
}

.WhatsApp:hover
{
	background-color:#FFF;
	color:#25d366;
	box-shadow: 0px 0px 20px black;
    transition: 0.3s;
}

.margin_WhatsApp
{
	margin-top:16px;
}

.hareketli_resimler
{
    position: absolute;
    height: 100vh;
    margin-top: 190px;
    max-width: 100%;
}

.alt_menu
{
    position: sticky;
    margin-top: 30px;
    min-width: 100%;
    float: left;
    background-color: #0d0c0cff;
}

.alt_menu_ici
{
    width: 475px;
    color: whitesmoke;
    float: left;
}

.alt_menu_yazisi
{
    color: whitesmoke;
    text-align: left;
    padding-left: 178px;
    font-size: 30px;
}

.alt_menu_ici_yazisi
{
    display: inline-block;
    text-decoration: none;
    padding-left: 56px;
    color: whitesmoke;
    transition: 0.3s;
}

.alt_menu_ici_yazisi:hover
{
    text-shadow: 2px 2px 10px whitesmoke;
    color: whitesmoke;
    transition: 0.3s;
}

.harita
{
    position: absolute;
    width: 100%;
    height: 100vh;
    margin-top: 260px;
}

.sosyal_medya_butonlari
{
    width: 100%;
    text-align: center;
    color: whitesmoke;
}